.account {
    padding: 40px 0;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.account__container {
    width: 100%;
}

.accountTitle {
    font-size: 28px;
    font-weight: 600;
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 40px;
}

.userInfo {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.infoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.infoItem:last-of-type {
    border-bottom: none;
    margin-bottom: 25px;
}

.label {
    font-weight: 500;
    color: var(--underMainColor);
    margin-right: 15px;
}

.value {
    font-weight: var(--baseFontWeight);
    color: var(--black);
    text-align: right;
}

.editButton,
.logoutButton {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s, filter 0.3s;
    background-color: var(--orange);
    color: var(--white);
}

.logoutButton {
    background-color: var(--grey);
    color: var(--black);
}

.editButton:hover {
    filter: brightness(1.1);
}

.logoutButton:hover {
    background-color: var(--underMainColor);
    color: var(--white);
    filter: none;
}

.editButton:active,
.logoutButton:active {
    filter: brightness(0.9);
    transition: filter 0.1s;
}


@media (max-width: 768px) {
    .accountTitle {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .userInfo {
        padding: 20px;
    }

    .infoItem {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .label {
        margin-bottom: 5px;
        margin-right: 0;
    }

    .value {
        text-align: left;
    }

    .editButton,
    .logoutButton {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .logoutButton {
        margin-bottom: 0;
    }
}